<div class="container d-flex align-items-center" data-controller="home" style="min-height: 80vh">
  <h1 class="home-message display-1 shadow-text"><%= @profile.profile_greeting %><br>
    <div id="typed-strings">
      <% @profile.profile_home_text.split(/\r?\n/).each do |home_text| %>
        <p><%= home_text %></p>
      <% end %>
    </div>
    <span id="typed"></span>
  </h1>
</div>
