@font-face {
  font-family: "Roboto";
  src: url("Roboto.ttf");
}

@font-face {
  font-family: "Roboto Mono";
  src: url("RobotoMono.ttf");
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  flex: 1;
}

body {
  font-family: Roboto Mono, monospace, Helvetica, Arial, sans-serif !important;
  font-size: 14px;
}

.home-message {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  font-weight: bolder;
  text-shadow: 4px 4px 2px black;
}

.nav-link.active,
.nav-link:focus,
.nav-link:hover {
  font-weight: bolder;
}

.image-link {
  cursor: pointer;
}

.handle {
  cursor: grab;
}

#image-modal {
  max-width: 100%;
  max-height: 100%;
}

.navigation-arrow {
  position: fixed;
  font-size: 2.5rem;
  opacity: 0.1;
  top: 50%;
}

.navigation-arrow:hover {
  opacity: 1;
}

.arrow-left {
  left: 20px;
  transition: transform 0.5s;
}

.arrow-left:hover {
  transform: translateX(-5px);
  padding-right: 5px;
}

.arrow-right {
  right: 20px;
  transition: transform 0.5s;
}

.arrow-right:hover {
  transform: translateX(5px);
  padding-left: 5px;
}

@media (max-width: 750px) {
  .navigation-arrow {
    display: none;
  }
}

.fadeIn {
  animation: fadeIn 5s;
}

.slideToPrevious {
  animation: slideToPrevious 0.5s;
}

.slideToNext {
  animation: slideToNext 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideToPrevious {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideToNext {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
