@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono);

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
}

.main-container {
  background-image: url(/assets/space.jpg);
}

body {
  font-family: Roboto Mono, monospace, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.home-message {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: bolder;
    text-shadow: 4px 4px 2px black;
}

.nav-link:not(:focus):not(:hover) {
  font-weight: lighter !important;
}

.nav-link:focus,
.nav-link:hover {
  text-decoration: underline;
  font-weight: bolder;
}
