<header class="sticky-top" style="background-color: #212529;">
  <nav class="navbar navbar-expand-lg justify-content-end">
    <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 justify-content-center">
        <li class="nav-item">
          <%= link_to('01 : Inicio', home_index_path, class: "link-light nav-link text-center") %>
        </li>
        <li class="nav-item">
          <%= link_to('02 : Proyectos', projects_path, class: "link-light nav-link text-center") %>
        </li>
        <li class="nav-item">
          <%= link_to('03 : Acerca de Mí', about_index_path, class: "link-light nav-link text-center") %>
        </li>
        <li class="nav-item">
          <%= link_to('04 : Contacto', contact_index_path, class: "link-light nav-link text-center") %>
        </li>
      </ul>
    </div>
  </nav>
</header>
